
*.pyc
rec.txt
*.txt.gz
tool/txt/*
server/txt/*
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/logdata/*

refer/mtf-server/
refer/mtf-web/
main/out/*
data/*
*.pdf
*.zip